header {
  background-color: black;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  background-image: url("iphone-13-pro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

.finance-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.option {
  border: 1px solid #f0f0f0;
  padding: 20px;
}

button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.accessories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.accessory {
  border: 1px solid #f0f0f0;
  padding: 20px;
}

button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.branding {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.brand {
  border: 1px solid #f0f0f0;
  padding: 20px;
}

button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer-section {
  list-style-type: none;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  /* Styles for screens smaller than 768px */

  .hero {
    grid-template-columns: 1fr;
  }

  .finance,
  .accessories,
  .branding,
  footer {
    grid-template-columns: 1fr;
  }

  h1,
  h2,
  h3 {
    font-size: 1.2em;
  }
}
